<div class="order-form">
  <form [formGroup]="myForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input formControlName="id" hidden>
        <label for="inputEmail4">Note
        <input class="form-control" id="inputEmail4" formControlName="note">
        </label>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Status
        <input class="form-control" id="inputPassword4" formControlName="status">
        </label>
      </div>
    </div>
    <div class="form-group">
      <label>InvoiceNumber
      <input type="text" class="form-control" formControlName="invoiceNumber">
      </label>
    </div>
    <div class="form-group">
      <label>CustomerId
      <input type="text" class="form-control" formControlName="customerId">
      </label>
    </div>
    <div class="form-group">
      <label>FactoryId
        <input type="text" class="form-control" formControlName="factoryId">
      </label>
    </div>
    <div class="form-group">
      <label>PoNumber
      <input type="text" class="form-control" formControlName="poNumber">
      </label>
    </div>
    <div class="form-group">
      <label>BalanceUsd
      <input type="text" class="form-control" formControlName="balanceUsd">
    </div>
    <div class="form-group">
    <label>BalanceCad
    <input type="text" class="form-control" formControlName="balanceCad">
    </label>
    </div>
    <div class="form-group">
      <label>flightInformation
        <input type="text" class="form-control" formControlName="flightInformation">
      </label>
    </div>
    <div class="form-group">
      <label>cabinetType
        <input type="text" class="form-control" formControlName="cabinetType">
      </label>
    </div>
    <div class="form-group">
      <label> toASubOrderIds
        <input type="text" class="form-control" formControlName="toASubOrderIds">
      </label>
    </div>
    <div class="form-group">
      <label>expectedDeliveryDate
        <input type="text" class="form-control" formControlName="expectedDeliveryDate">
      </label>
    </div>
    <div class="form-group">
      <label>factoryAdvancedPayment
        <input type="text" class="form-control" formControlName="factoryAdvancedPayment">
      </label>
    </div>
    <div class="form-group">
      <label>factoryFinalPayment
        <input type="text" class="form-control" formControlName="factoryFinalPayment">
      </label>
    </div>
    <br>
    <button *ngIf="!showBtn" (click)="createOrder()">Create</button>
    <button *ngIf="showBtn" (click)="updateOrder()">Update</button>
    <button (click)="deleteOrder()">Delete</button>
  </form>
</div>
