<div>
  <button type="button" class="btn btn-primary btn-lg" (click)="onCreateUser()">New User+</button>
  <ul class="list-group list-group-horizontal-md">
    <li style="width: 100px" class="list-group-item">#</li>
    <li style="width: 150px" class="list-group-item">Name</li>
    <li style="width: 200px" class="list-group-item">Email</li>
    <li style="width: 150px" class="list-group-item">Phone1</li>
    <li style="width: 150px" class="list-group-item">Phone2</li>
    <li style="width: 170px" class="list-group-item">Created</li>
    <li style="width: 150px" class="list-group-item">FactoryID</li>
    <li style="width: 150px" class="list-group-item">Duty</li>
  </ul>
  <app-user-item *ngFor="let user of allUser; index as i" [userItem]="user" [num]="i+1">

  </app-user-item>
</div>
