<div>
  <a [routerLink]="['/products', order.id]">
  <ul class="list-group list-group-horizontal-md" [class.totalActive]="showHight"
      (mouseover)="showHighLight1()" (mouseout)="showHighLight2()">
    <li style="width: 30px" class="list-group-item" [hidden]="!authService?.canEditProduct">{{num}}</li>
    <li style="width: 100px" class="list-group-item">{{order.note}}</li>
    <li style="width: 150px" class="list-group-item">{{order.status}}</li>
    <li style="width: 150px" class="list-group-item">{{order.invoiceNumber}}</li>
    <li style="width: 150px" class="list-group-item">{{order.customerId}}</li>
    <li style="width: 150px" class="list-group-item">{{order.factoryId}}</li>
    <li style="width: 150px" class="list-group-item" [hidden]="!authService?.canEditProduct">{{order.poNumber}}</li>
    <li style="width: 150px" class="list-group-item" [hidden]="!authService?.canEditProduct">{{order.toASubOrderIds}}</li>
    <li style="width: 150px" class="list-group-item">{{order.expectedDeliveryDate}}</li>
    <button (click)="viewOrder()" class="btn btn-btn-secondary"
            data-toggle="tooltip" data-placement="bottom" title="Modify"><i class="fas fa-pen"></i></button>
  </ul>
  </a>
</div>
