<div class="user-form">
  <Form [formGroup]="form" (ngSubmit)="submitUser()">
    <div class="form-row">
      <label>
        <input type="text" formControlName="id" hidden>
      </label>
      <label for="username"> User Name:
        <input id="username" class="form-control" type="text" formControlName="userName">
      </label>
      <label for="useremail"> Email:
        <input id="useremail" class="form-control" type="text" formControlName="useremail">
      </label>
      <label for="password"> Password:
        <input id="password" class="form-control" type="text" formControlName="password">
      </label>
    </div>
    <div class="from-group">
      <label>
        Create Date: <input class="form-control" type="text" formControlName="createdAt"
                            [value]="form.get('createdAt').value | date: 'ddMMMMy'">
      </label>
    </div>
    <div class="form-group">
      <label>
        phone1: <input class="form-control" type="text" formControlName="phone1">
      </label>
    </div>
    <div class="form-group">
      <label>
        phone2: <input class="form-control" type="text" formControlName="phone2">
      </label>
    </div>
    <div class="form-group">
    <label>
      companyId: <input class="form-control" type="text" formControlName="companyId">
    </label>
      </div>
    <div class="form-group">
    <label>
      duty: <input class="form-control" type="text" formControlName="duty">
    </label>
    </div>
    <label>
      <input type="text" formControlName="updateAt" hidden>
    </label>
    <label>
      <input type="text" formControlName="deleteAt" hidden>
    </label>
    <label>
       <input type="checkbox" formControlName="deleted" hidden>
    </label>
    <div>
      <label>
        active: <input class="form-control" type="checkbox" formControlName="active">
      </label>
    </div>

    <br>
    <input class="btn btn-outline-primary" type="submit" [value]="updateOrCreate ? 'Update' : 'CreateUser' ">
    <button class="btn btn-outline-danger" (click)="deleteUser()">Delete</button>



    <!--    <div formArrayName="role">-->
    <!--      <div *ngFor="let role of getRoleForms.controls; index as i"-->
    <!--           [formGroupName]="i">-->
    <!--        <label>-->
    <!--          role: <input type="text" formControlName="role">-->
    <!--        </label>-->
    <!--      </div>-->
    <!--    </div>-->
  </Form>
</div>
