<div>
  <app-order-form [order]="order" (createEvent)="createOrder($event)"
                  [canEdit]="authService?.canEditProduct"
                  (updateEvent)="updateOrder($event)" (deleteEvent)="deleteOrder($event)"></app-order-form>
</div>
