<div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ng-content select="h1"></ng-content>
    <div class="form-group">
      <label for="exampleInputEmail1">Useremail</label>
      <input type="text" class="form-control" id="exampleInputEmail1" formControlName="useremail"
             placeholder="Enter username">
      <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
             placeholder="Password">
    </div>
    <div>
    <ng-content select="button"></ng-content>
    </div>
  </form>
</div>
