<div>
  <div *ngIf="showInfo && !errmsg">
    Update Successesd!
  </div>
  <div *ngIf="showInfo && errmsg">
    Update error!
  </div>
  <app-user-form
  [userDetail]="eachUser"
  (editEvent)="onEdit($event)"
  (createEvent)="onCreate($event)"
  (deleteEvent)="onDelete($event)"
  ></app-user-form>
</div>
