  <div class="factory-content">
    <div class="content__next">
      <div>
        <label>
          Search from
          <input #name1>
          <button>{{showInput?'Return': 'Show'}}</button>
        </label>
        <div *ngIf="showInput">
          <ul class="list-group list-group-horizontal-md">
            <li *ngFor="let str of factoryContent;index as i" class="list-group-item">
              {{str}}
            </li>
          </ul>
        </div>
        <label>
          Search content
          <input #name2>
        </label>
      </div>
      <div class="btn btn-btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Search">
        <button *ngIf="!showBtn"><i class="fas fa-search"></i></button>
        <button *ngIf="showBtn" >Total order</button>
      </div>
      <div style="padding: 0 0 0 10px" class="btn btn-btn-secondary"
           data-toggle="tooltip" data-placement="bottom" title="Create">
        <a routerLink="/products/new"><i class="fas fa-plus"></i></a>
      </div>
    </div>
    <ul class="list-group list-group-horizontal-md">
      <li style="width: 30px" class="list-group-item">#</li>
      <li style="width: 100px" class="list-group-item">Note</li>
      <li style="width: 150px" class="list-group-item">Status</li>
      <li style="width: 150px" class="list-group-item">Invoice number</li>
      <li style="width: 150px" class="list-group-item">CustomerId</li>
      <li style="width: 150px" class="list-group-item">Po number</li>
      <li style="width: 150px" class="list-group-item">toASubOrderIds</li>
      <li style="width: 150px" class="list-group-item">expectedDeliveryDate</li>
    </ul>
    <app-factory-item *ngFor="let order of factorys;index as i" [factory]="order" [num]="i+1"></app-factory-item>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
