<!--<div class="content">-->

<!--  <Form [formGroup]="form" class="content__next">-->
<!--    <label>-->
<!--     id: <input type="text" formControlName="id">-->
<!--    </label>-->
<!--    <label>-->
<!--      userName: <input type="text" formControlName="userName">-->
<!--    </label>-->
<!--    <label>-->
<!--      usere mail: <input type="text" formControlName="useremail">-->
<!--    </label>-->
<!--    <label>-->
<!--      phone1: <input type="text" formControlName="phone1">-->
<!--    </label>-->
<!--    <label>-->
<!--      phone2: <input type="text" formControlName="phone2">-->
<!--    </label>-->
<!--    <label>-->
<!--      Create Date: <input type="text" formControlName="createdAt"-->
<!--                      [value]="form.get('createdAt').value | date: 'ddMMMMy'">-->
<!--    </label>-->

<!--    <label>-->
<!--      companyId: <input type="text" formControlName="companyId">-->
<!--    </label>-->
<!--    <label>-->
<!--      duty: <input type="text" formControlName="duty">-->
<!--    </label>-->
<!--    <label>-->
<!--      updateAt: <input type="text" formControlName="updateAt">-->
<!--    </label>-->
<!--    <label>-->
<!--      deleteAt: <input type="text" formControlName="deleteAt">-->
<!--    </label>-->
<!--    <label>-->
<!--      deleted: <input type="checkbox" formControlName="deleted">-->
<!--    </label>-->
<!--    <label>-->
<!--      active: <input type="checkbox" formControlName="active">-->
<!--    </label>-->
<!--  <app-role-type formControlName="role"></app-role-type>-->
<!--  </Form>-->
<!--</div>-->
<div>
  <div>
    <ul class="list-group list-group-horizontal-md list-hover">
      <li style="width: 100px" class="list-group-item">{{num}}</li>
      <li style="width: 150px" class="list-group-item">{{userItem.userName}}</li>
      <li style="width: 200px" class="list-group-item">{{userItem.useremail}}</li>
      <li style="width: 150px" class="list-group-item">{{userItem.phone1}}</li>
      <li style="width: 150px" class="list-group-item">{{userItem.phone2}}</li>
      <li style="width: 170px" class="list-group-item">{{userItem.createdAt | date: 'ddMMMMy'}}</li>
      <li style="width: 150px" class="list-group-item">{{userItem.companyId}}</li>
      <li style="width: 150px" class="list-group-item">{{userItem.duty}}</li>
      <button (click)="viewUser()" class="btn btn-btn-secondary"
      data-toggle="tooltip" data-placement="bottom" title="Modify"><i class="fas fa-pen"></i></button>
    </ul>
  </div>
</div>
