<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <div class="btn-group">
        <button type="button" class="btn btn-link dropdown-toggle" (click)="toggleMenu()" data-toggle="dropdown"
                [ngClass]="{'show': showMenu}" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user"></i>
          {{auth?.currentUserValue ? auth?.currentUserValue?.user?.username : 'Login'}}
        </button>
        <div class="dropdown-menu" [ngClass]="{'show': showMenu}" (click)="showMenu = ! showMenu">
          <div *ngIf="auth.currentUserValue">
            <a class="dropdown-item" routerLink="orders">Order</a>
            <a class="dropdown-item" routerLink="users/{{auth?.currentUserValue?.user?.id}}">My Profile</a>
            <a class="dropdown-item" routerLink="/auth/logout">Sign out</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <a routerLink="/user" class="list-group-item list-group-item-action bg-light">User control</a>
      <a routerLink="/products" class="list-group-item list-group-item-action bg-light">Order</a>
      <a routerLink="/factory" class="list-group-item list-group-item-action bg-light">Factory</a>
      <a routerLink="/to-asub-order" class="list-group-item list-group-item-action bg-light">ToASubOrder</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>

  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">




  </div>
  <!-- /#page-content-wrapper -->
  <div>


<div>
  <router-outlet></router-outlet>
</div>
  </div>
</div>
<footer>
  <div>Mark2Win make</div>
</footer>
