<div>
  <div class="alert alert-danger"> Are you sure to logout now?</div>
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
        <button class="btn btn-success" (click)="onStayHere()">No</button>
      </div>
      <div class="col">
        <button class="btn btn-danger" (click)="onLogout()">Logout</button>
      </div>
    </div>
  </div>
</div>
