<div>
  <form [formGroup]="myForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input formControlName="id" hidden>
        <label for="inputEmail4">ContractNum
          <input class="form-control" id="inputEmail4" formControlName="contractNum">
        </label>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">OrderId
          <input class="form-control" id="inputPassword4" formControlName="orderId">
        </label>
      </div>
    </div>
    <div class="form-group">
      <label>ContractPriceRmb
        <input type="text" class="form-control" formControlName="contractPriceRmb">
      </label>
    </div>
    <div class="form-group">
      <label>DownPaymentRmb
        <input type="text" class="form-control" formControlName="downPaymentRmb">
      </label>
    </div>
    <div class="form-group">
      <label>Note
        <input type="text" class="form-control" formControlName="note">
      </label>
    </div>
    <div class="form-group">
      <label>FlightInformation
        <input type="text" class="form-control" formControlName="flightInformation">
      </label>
    </div>
    <div class="form-group">
      <label>Part
        <input type="text" class="form-control" formControlName="part">
      </label>
    </div>
    <div class="form-group">
      <label>Delivery
        <input type="text" class="form-control" formControlName="delivery">
      </label>
    </div>
    <br>
  </form>
</div>
