<div>
    <ul class="list-group list-group-horizontal-md" [class.totalActive]="showHight"
        (mouseover)="showHighLight1()" (mouseout)="showHighLight2()">
      <li style="width: 30px" class="list-group-item">{{num}}</li>
      <li style="width: 100px" class="list-group-item">{{toASubOrder.contractNum}}</li>
      <li style="width: 150px" class="list-group-item">{{toASubOrder.orderId}}</li>
      <li style="width: 150px" class="list-group-item">{{toASubOrder.contractPriceRmb}}</li>
      <li style="width: 150px" class="list-group-item">{{toASubOrder.downPaymentRmb}}</li>
      <li style="width: 150px" class="list-group-item" >{{toASubOrder.note}}</li>
      <li style="width: 150px" class="list-group-item" >{{toASubOrder.flightInformation}}</li>
      <li style="width: 150px" class="list-group-item">{{toASubOrder.part}}</li>
      <li style="width: 150px" class="list-group-item">{{toASubOrder.delivery}}</li>
      <button (click)="viewOrder()" class="btn btn-btn-secondary"
              data-toggle="tooltip" data-placement="bottom" title="Modify"><i class="fas fa-pen"></i></button>
    </ul>
</div>
