/* You can add global styles to this file, and also import other style files */
footer{
  display: flex;
  justify-content: center;
  background: purple;
  height: 10vh;
  color: white;
}
.totalActive{
  border: 1px solid gold;
}
